{% extends "base.html" %}

{% block content %}
    <h1>Изменить департамент</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% for elem in [form.title, form.chief_id, form.members, form.email] %}
            <p>
                {{ elem.label }}
                {{ elem(class="form-control") }}
                {% for error in elem.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
        {% endfor %}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

    </form>
{% endblock %}