{% extends "base.html" %}
{% block content %}
{% if 'инженер' in porf %}
        <img src="\static\img\ingen.png" alt="здесь должна была быть картинка, но не нашлась">
    {% elif 'строитель' in porf %}
        <img src="\static\img\med.png" alt="здесь должна была быть картинка, но не нашлась">
    {% endif %}
    {% if list == 'ul'%}
        {% for user in spisok %}
            <li>{{ loop.index }} - {{ user }}
            </li>
        {% endfor %}
    {% endif %}
    {% if list == 'ol'%}
    <ul>
        {% for user in spisok %}
            <li>{{ user }}
            </li>
        </ul>
        {% endfor %}
    {% endif %}
{% endblock %}